include .coveragerc
include .travis.yml
include AUTHORS
include LICENSE
include MANIFEST.in
include README.rst
include twitch_viewer/ext.conf

recursive-include twitch_viewer/static *
recursive-include tests *.py
